<app-header></app-header>
<div class="billboard">
    <div class="billboard-content  ">
        <div class="billboard-img">
            <div class="circle-pattern"></div>
            <img src="../../../assets/imgs/background/billboard.png" alt="">
        </div>
        <div class="billboard-info">
            <p class="billboard-subheading">
                <span class="line"></span>
                2021 fashion Collection
            </p>
            <h1 class="billboard-heading">Spring Wears</h1>
            <p class="billboard-desc">Express your unique style. Don’t miss out on the latest outerwear trends with
                the
                2021 Fashion Collection.</p>
            <button class="btn btn-main">Buy Now</button>

        </div>
        <p class=" billboard-nav">
            <span class="line"></span>
            SCROLL DOWN
        </p>
    </div>

</div>