<footer class="section footer">
    <div class="container">
        <div class="row align-items-start">
            <div class="col-3">
                <a href="
                " class="navbar-brand">

                    <h2 class="footer-brand brand">Sajna
                    </h2>
                </a>
            </div>
            <div class="col-9 footer-content">
                <div class="row">
                    <div class="col-3">
                        <h3 class="footer-heading">Pages</h3>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <a href="">Main Page </a>
                            </li>
                            <li class="footer-item">
                                <a href="">Our Story </a>
                            </li>
                            <li class="footer-item">
                                <a href="">Blog </a>
                            </li>
                            <li class="footer-item">
                                <a href="">Contact Us </a>
                            </li>
                            <li class="footer-item">
                                <a href="">Privacy Policy </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-3">
                        <h3 class="footer-heading">Shop</h3>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <a href="">All Collections </a>
                            </li>
                            <li class="footer-item">
                                <a href="">Collection </a>
                            </li>
                            <li class="footer-item">
                                <a href=""> Product Page </a>
                            </li>


                        </ul>
                    </div>
                    <div class="col-3">
                        <h3 class="footer-heading">Profile</h3>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <a href="">Account </a>
                            </li>
                            <li class="footer-item">
                                <a href="">Cart </a>
                            </li>
                            <li class="footer-item">
                                <a href="">Checkout </a>
                            </li>

                        </ul>
                    </div>
                    <div class="col-3">
                        <h3 class="footer-heading">Follow us</h3>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <a href="">Instagram </a>
                            </li>
                            <li class="footer-item">
                                <a href="">Facebook </a>
                            </li>
                            <li class="footer-item">
                                <a href="">Twitter </a>
                            </li>
                            <li class="footer-item">
                                <a href="">Pinterest </a>
                            </li>
                            <li class="footer-item">
                                <a href="">Youtube </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="horizontal-line"></div>

    <div class=" footer-copyright">
        <p>© 2021 Templates Jungle. All rights reserved.</p>
        <p>Template design by: Templates Jungle</p>
    </div>
</footer>