<div class="app-wrapper">

    <div class="wrapper">
        <app-billboard>
        </app-billboard>
    </div>
    <app-brands></app-brands>
    <app-story></app-story>
    <app-product-list [type]="'electronics'" [heading]="'Latest trend'" [desc]="'Always start with perfection'">
    </app-product-list>
    <app-product-list [type]="'jewelery'" [heading]="'Best selling items'"
        [desc]="'Great way to get fashioned in a quick time.'">
    </app-product-list>
    <app-banner></app-banner>
    <app-product-list [type]="'men\'s clothing'" [heading]="'Top rated products'"
        [desc]="'Always start with perfection and be stylish.'">
    </app-product-list>
    <div class="wrapper">
        <app-categories></app-categories>
    </div>
    <app-newsletter></app-newsletter>
    <app-features></app-features>
    <div class="wrapper">

        <app-news></app-news>
    </div>
    <app-footer></app-footer>
</div>