<div class="banner section">
    <div class="quote">
        Style is a way to say <span class="active"> who you are </span>
        without having to speak.
    </div>
    <div class="banner-content ">
        <div class="banner-slider banner-slider__left">
            <i class=" fa fa-angle-left"></i>

        </div>
        <div class="banner-slider banner-slider__right ">
            <i class="fa fa-angle-right"></i>

        </div>

        <div class="banner-image">
        </div>
        <div class="banner-info">
            <p class="banner_subtitle">Trust your spirit</p>
            <p class="banner_title">Women’s baggy pinky outer wear</p>
            <button class="btn-main btn">Shop It Now</button>
        </div>
        <div class="banner-dots">
            <div class="banner-dot dot-active"></div>
            <div class="banner-dot "></div>
            <div class="banner-dot "></div>
        </div>
    </div>
</div>