// COLORS
$black-darker: #2c2217;
$black-dark: #222;
$color-text: #646464;
$black-navbar: #352717;
$brown-0: #edc59d;
$brown-1: #9b7856;
$brown-2: #fff1e4;
$brown-subheading: #f0d0b3;
$brown-button: #dbb690;
$brown-text: #a68660;
$brown-pattern: #fff6ee;
$gray-text: #bababa;
$gray-border: #cacaca;
$brown-active: #f0d0b3;
$white: #fff;
$gray-slider: #949494;
$back-main: #e5e5e5;
$back-primary: #fffcf9;
$back-secondary: #fefbf7;
// FONT FAMILY
$font-brand: "Oswald", sans-serif;
$font-heading: "Old Standard TT", serif;
$font-text: "Poppins", sans-serif;

// FONT WEIGHT
$fw-300: 300;
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;
